@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Rubik", sans-serif;
  background-color: #fdfdfd;
  max-width: 848px;
  margin: auto;
}

h1 {
  font-weight: 500;
}

a {
  text-decoration: none;
  color: blueviolet;
}
a:hover {
  color: black;
}

input,
button {
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  padding: 4px 8px;
}

input {
  border: 1px solid gray;
  margin-bottom: 6px;
  outline: none;
}

button {
  color: white;
  background-color: blueviolet;
  border: 1px solid blueviolet;
  cursor: pointer;
}

button:hover {
  color: blueviolet;
  background-color: white;
}

table {
  width: 100%;
}

thead {
  font-size: 14px;
  background-color: lightgray;
}
